body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0
}

#project {
  color: white;
  position: absolute;
  left: 1.5%;
  top: 3%;
  font-size: 150%;
  display: block;
  height: 3em;
}

#project .parent {
  text-align: center;
  display: inline-block;
  font-size: 35%;
  font-weight: 400;
  width: 9em;
  border: 1px solid white;
  text-transform: uppercase;
  padding: 0.4em 1em 0.4em 0.5em;
  opacity: 0.6
}

#project .name {
  line-height: 3em;
  vertical-align: top;
  margin-left: 0.5em;
  font-weight: 300;
}
#project .heavy{
  font-weight: 600
}

nav ul {
  position: absolute;
  top: 3%;
  right: 10%;
  margin: 0;
  line-height: 3em;
}

nav a {
  color: white;
  text-decoration: none;
}

nav li {
  list-style: none;
  display: inline;
  padding-left: 2em
}

nav li a {
  font-size: 90%;
  font-weight: 500;
  opacity: 0.8
}

nav li a:hover {
  opacity: 1
}

nav li:first-child {
  left: 10%
}

#splash {
  padding: 13em 0 8em;

  background: -webkit-linear-gradient(top,#3C4963 10%,#3C3C63 80%);
  background: -moz-linear-gradient(top,#3C4963 10%,#3C3C63 80%);
  background: -o-linear-gradient(top,#3C4963 10%,#3C3C63 80%);
  background: -ms-linear-gradient(top,#3C4963 10%,#3C3C63 80%);
  background: linear-gradient(to bottom,#3C4963 10%,#3C3C63 80%);

  /* Get fancy or not ?
  -webkit-box-shadow: 2px 8px 21px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 8px 21px -11px rgba(0,0,0,0.75);
  box-shadow: 2px 8px 21px -11px rgba(0,0,0,0.75);
  */
}

#showcase {
  color: white;
  width: 70%;
  display:block;
  margin: auto;
}

#image-wrap {
  display: inline-block;
  width: 65%;
  padding: 0 1em;
  background: white;
  border-radius: 3px;
  opacity: 0.75;

  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.08),0 20px 30px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.08),0 20px 30px rgba(0,0,0,0.2);

  transition: opacity .5s;
}

#image-wrap:hover {
  opacity: 1;
}

#showcase h1 {
  display: inline-block;
  width: 20%;
  height: 100%;
  font-size: 250%;
  font-weight: 600;
  line-height: 1.2em;
  vertical-align: top;
  margin: 1em 0 0 1em;
  text-transform: uppercase;
  text-align: left;

  text-shadow: 2px 2px 5px rgba(6, 6, 6, 0.3);
}

#image-wrap {
  position: relative;
}

#image-wrap>img {
  width: 100%;
}
#image-wrap .static, #image-wrap:hover .animated {
    display: inline;
}
#image-wrap .animated,
#image-wrap:hover .static,
#image-wrap:hover #play-button {
    display: none;
}

#image-wrap #play-button {
  position: absolute;
  color: black;
  font-size: 3em;
  left: 3%;
  bottom: 0%;
  opacity: 0.1;
  /*
  border: 1px solid black;
  border-radius: 50%;
  padding: 0 0.2em 0 0.35em
  */
}

section {
  color: rgba(0,0,0,0.6);
  padding: 2em;
}


section p {
  margin-left: auto;
  margin-right: auto;
  width: 50em;
}

section {
  text-align: center;
}

section h1 {
  margin: 0.2em 0 1em;
  font-size: 135%;
  color: #3C4963;
}

section em {
  font-weight: 600;
  font-style: normal;
}

a {
  text-decoration: none;
}

a.button {
  display: inline-block;
  margin: 2em 0 0;
  padding: .5em 5em;
  color: white;
  background: #3C4963;
  font-weight: 400;
  font-size: 120%;
}
a.button:hover {
  background: #4C5C7D;
}

section.light {
  background: #f8f8f8;
  border-top: 1px solid rgba(0,0,0,0.10);
  border-bottom: 1px solid rgba(0,0,0,0.10)
}

section#integration p {
  width: 30em;
  margin-top: 3em;
  vertical-align: top;
  position: relative;
}
section#integration code {
  position: relative;
  display: inline-block;
  font-size: 80%;
  width: 40em;
  padding: 1em 0em;
  background: white;
  margin: auto;
  margin-left: 3em;

  box-shadow: 0 1px 1px rgba(0,0,0,0.05), -1px 1px 1px rgba(0,0,0,0.02);
}

section#integration code em {
  font-weight: 300;
  color: black;
}

section#integration code:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #e8e8e8 #f8f8f8;
}


section.dark {
  background: #3C4963;
  color: white;
}

section.dark h1 {
  color: white;
  margin-bottom: 3em;
}

h2 {
  font-size: 100%;
  font-weight: 400;
}

section.dark a {
  color: white;
}

section.blocks article {
  vertical-align: top;
  width: 15em;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  margin-bottom: 2em;
}

section.blocks article img {
  width: 8em;
  height: 8em;
  border-radius: 8em
}

section.blocks .question-mark {
  display: inline-block;
  font-size: 6.5em;
  border: 1px solid white;
  border-radius: 10em;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em

}
