body {
  font-family: Helvetica Neue;
  font-weight: light;
  max-width: 62em;
  margin: auto;
  margin-top: 2em;

  background: linear-gradient(rgba(0,0,200,0.1),rgba(255,255,255,0));
}

section {
  display: block;
  clear: both;
  margin-bottom: 3em;
}

h2 {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  line-height: 1.5;
}

.smallprint {
  font-size: 80%;
}

.blocks article {
  width: 15em;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.blocks article img {
  width: 10em;
}

h3 {
  font-size: 100%;
}

img {
  border: none;
}

#logo {
  float: left;
  height: 12em;
  margin-right: 1em;
}

#join {
  text-align: center;
}

#join a {
  padding: .5em 1em;
  font-size: 150%;
}
